# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.angular
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build/
dist/

# misc
.DS_Store
.env
/.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

tmp
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
