SEREVR_PORT=3000
DB_URL=mongodb://localhost:27017/integrations
GITHUB_API_URL=https://github.com/login/oauth/access_token
GITHUB_CLIENT_ID=Ov23limqBPgpeMR4VCem
GITHUB_CLIENT_SECRET=3297a2efde3f5eeaaf861675c00ea52c4186ac6c
