.container {
  margin: 10px;
}
.spacer {
  flex: 1 1 auto;
}
.github-icon {
  display: inline-block;
  margin-right: 10px;
}
.bold-text {
  margin-top: 10px;
  color: #4050b5;
  font-weight: 500;
}
.light-grey-text {
  margin: 0px 10px 0 0;
  font-size: 10px;
  font-weight: 200;
  padding: 0;
  line-height: 12px;
  text-align: right;
  color: slategrey;
  display: flex;
  align-items: center;
}
.d-flex {
  display: flex;
  justify-content: flex-end;
}
.mp-0 {
  margin: 0;
  padding: 0;
}
